@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: #64748b;
}

body::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 0.5rem;
}
